<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.quizdaprogramacao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tcc.quizdaprogramacao.RecuperaSenhaActivity"></activity>
        <activity android:name="tcc.quizdaprogramacao.ContaActivity" />
        <activity android:name="tcc.quizdaprogramacao.QuestoesActivity" />
        <activity android:name="tcc.quizdaprogramacao.SenhaActivity" />
        <activity android:name="tcc.quizdaprogramacao.VersaoTesteActivity" />
        <activity android:name="tcc.quizdaprogramacao.IniciarActivity" />
        <activity android:name="tcc.quizdaprogramacao.CadastroActivity" />
        <activity android:name="tcc.quizdaprogramacao.LoginActivity" />
        <activity android:name="tcc.quizdaprogramacao.SplashActivity"/>

        <activity android:name="tcc.quizdaprogramacao.HomeScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="tcc.quizdaprogramacao.PlayAgain" />
        <activity android:name="tcc.quizdaprogramacao.Ganhou" />
        <activity android:name="tcc.quizdaprogramacao.Tempo" />
        <activity android:name="tcc.quizdaprogramacao.QuestoesBDGame" />
        <activity android:name="tcc.quizdaprogramacao.QuestoesFundamentosTIGame"/>
        <activity android:name="tcc.quizdaprogramacao.QuestoesJavaGame"/>
        <activity android:name="tcc.quizdaprogramacao.QuestoesMobileGame"/>
        <activity android:name="tcc.quizdaprogramacao.QuestoesProgWebGame"/>
        <activity android:name="tcc.quizdaprogramacao.QuestoesRedeGame">


        </activity>
    </application>

</manifest>